.App {
  margin: 7% 0 7% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 25px;
  margin: 10px;
  width: 400px;
}
